<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Home page</title>
</head>
<body>
  <section class="banner d-flex justify-content-center align-items-center">
  
         <div class="text-center">
    		<h1 class="font-weighted-bold" style="font-size:50px">Connectify.</h1>
    		<p style="font-size: 21px;">"Stay organized. Stay connected - Your one-stop solution for effortless contact management"</p>
   			<button class="btn btn-lg text-white small-text rounded-pill banner-button">Get Started</button>
		</div>


  	
  </section>

</body>
</html>